@import url(sanitize.css);
h1{
    text-align: center; /* 全体を中央揃えに */
}
img:hover {
    opacity: 0.75; /* 25％ほど透明にする */
 }
 div {
     text-align:center;
    }
    /*画像を横並びにする*/
    .flex{
        padding: 2.5% 0;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
};
      .flex > *{
        width: 8%;
        background: #fff;
        font-size: 64px;
        text-align: center;
      }
      .flex,
      .flex > *{
        border: 3px solid #aaa;
      }
    .span{
        text-align: center;
      }
      .a{
        text-align: center;
      }
    
 
